<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--本地队列格式-->
    <add key="queuePath" value=".\Private$\msg_Rendal" />
    <!--远程队列格式 (无法判断是否存在)-->
    <add key="TCPqueuePath" value="FormatName:Direct=TCP:127.0.0.1\private$\msg_Rendal" />
  </appSettings>
</configuration>